.foot-color,
.itg-button-2:hover,
.itg-button-7:hover,
.itg-button-3:hover,
.itg-button-4:hover,
.instructor,
.box,
button.capitalize.priceing-btn:hover,
.agency-effect:hover .agency,
.our-team-effect:hover .our-team,
.our-team-effect a.itg-button-3,
.img-effect:after,
.img-effect-1:after,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
figure.team-img:before,
a#atd:hover,
.bg-theam h4,
.search-bar-1 button,
.sidebar-list ul li:hover,
.sidebar-icon:hover,
.itg-button-5:hover,
.itg-button-6:hover,
.search-404 button,
.instructor-serv,
.progress-bar,
figure.trainer-hov:before,
.pagination-box span:hover,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover,
.faq-hov:hover,
.timer,
a.ui-state-default:hover,
#style-switcher h2 a,
.sidebar-box,
.services-box-instructor,
.cube1,
.cube2,
.color-effect,
.service-sec-box:hover,
.gallery-hover:after,
.priceing-box:hover .priceing-head,
.newletter-section,
.owl-theme .owl-nav [class*=owl-]:hover,
ul.nav.navbar-nav .mini-btn a.itg-button-2:hover,
.cart-quantity-box,
.about-sec-box h3:after,
#home-page-1 .service-sec-box:hover,
#home-page-1 .team-section .team:hover .trainer,
#home-page-1 .our-team-effect:hover .our-team,
#home-page-1 .priceing-feature h4:after,
#home-page-1 .office-detail-title:after,
#home-page-1 .blogs-icons,
#home-page-1 .blog-btns a.itg-button-2,
#home-page-1 .testimonal-section .owl-theme .owl-nav [class*=owl-]:hover,
#home-page-1 #sliderhome.owl-theme .owl-nav .owl-next:hover,
#home-page-1 #sliderhome.owl-theme .owl-nav .owl-prev:hover,
.office-detail-btn a.itg-button-2,
.theme-headding-section h3:after,
.facts-boxs-sec:hover .facts-icon-box,
#scrollbtntop,
.ui-widget-content .ui-state-default,
.nav-pills li a:hover,
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover,
.addres-iocns i,
.nav-pills>li.active>a

 {
    background-color: #f22e2e;
}

.color-box,
.agency,
.itg-button-1:hover,
.itg-button-3,
.itg-button-4,
.itg-button-5,
.itg-button-6,
.trainer h5,
.trainer-1 h5,
.blog-detail a:hover,
.blog-detail span a,
.blog-full a:hover,
.blog-full span a,
.blog-detail-1 h4 a:hover,
.blog-full-1 h4 a:hover,
.blog-detail-2 h4 a:hover,
button.capitalize.priceing-btn,
input.itg-button.pull-right.color-effect:hover,
.social-gallary ul li a:hover,
.hover-detail a:hover,
.hover-detail span a,
.transform-footer,
.service-text a:hover,
.team:hover .trainer h4 a,
.team:hover .trainer-1 h4 a,
.owl-next,
.owl-prev,
.service-icon-1 ul li a:hover,
.blog-comment h5 a,
.sidebar-content a:hover,
.sidebar-content span a,
.sidebar-pera a,
.sidebar-icon a,
.blog-comment h5 a:hover,
.error-page a,
.comming-soon-icon ul li a:hover,
.grid-section ul li a i:hover,
.grid-select-1 a i:hover,
.serv-text-1 a:hover,
.trainer-icon ul li,
.trainer-text h4 a:hover,
.capitalize span a:hover,
.sidebar-blog-list ul li a:hover,
.sidebar-icon,
.owl-next:hover,
.owl-prev:hover,
#partners .owl-next:hover,
#partners .owl-prev:hover,
#banner .owl-prev:hover,
#banner .owl-next:hover,
.itg-button-1:hover,
.spinner h3,
.mini-close-icons i,
.wa-main-menu .navbar-default .navbar-nav>li>a:hover,
#home-page-1 .wa-main-menu .navbar-default .navbar-nav>li>a:hover,
.headding-texts .left-icon,
.headding-texts .right-icon,
.footer-detail-sec li a:hover,
.fot-bom-bar li a:hover,
.cart-itam-name p,
.reply-text-comment a,
#home-page-1 .banner-titles,
.facts-icon-box,
.facts-boxs-sec:hover .counter,
.facts-boxs-sec:hover .counter-nane,
.testimonal-box:hover a,
.product-dtl-section h5.pc,
.item-section h5.pc,
.product-dtl h4 a:hover,
h4.th a:hover,
#lh:hover,
#home-page-1 ul.newletter-icon-box li a i:hover {
    color: #f22e2e;
}


.itg-button-2:hover,
.itg-button-7:hover,
.itg-button-3:hover,
.itg-button-4:hover,
.itg-button-5:hover,
.itg-button-6:hover,

.agency a,
button.capitalize.priceing-btn,
button.capitalize.priceing-btn:hover,
.our-team-effect a.itg-button-3,
.blog-border P,
.sidebar-icon,
.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot.active span {
    border-color: #f22e2e;
}



.headding-box:after{
background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 0%, #f22e2e 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%, #f22e2e 100%);
    background: linear-gradient(to right, #ffffff 0%, #f22e2e 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f22e2e', GradientType=1);
}
.headding-box:before{
	    background: #f22e2e;
    background: -moz-linear-gradient(left, #f22e2e 0%, #ffffff 100%);
    background: -webkit-linear-gradient(left, #f22e2e 0%, #ffffff 100%);
    background: linear-gradient(to right, #f22e2e 0%, #ffffff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f22e2e', endColorstr='#ffffff', GradientType=1);
	}